html {
    background-color: #232830;
    max-width: 1682px;
    box-sizing: border-box;
}

.link-header {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

#link-name {
    text-align: left;
    text-decoration: none;
    color: white;
}

#menu {
    overflow: hidden;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    padding: 0px 28px;

    a {
        display: inline-block;
    }
}

#menu a {
    float: left;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
}

#header-right {
    float: right;
}

#logo {
    text-align: center;

    img {
        max-width: 150px;
        display: block;
        margin: auto;
    }

    h1 {
        color: #FF7575;
        font-family: "Recursive", sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 40px;
    }

    p {
        color: white;
        font-family: "poppins", sans-serif;
        font-size: 18px;
    }
}

hr {
    border: solid #4D4D4D 1px;
    width: auto;
}

#category-listing {
    font-family: "Recursive", sans-serif;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
}

#category-listing a {
    text-decoration: none;
    color: #909090;
    padding-right: 30px;
    margin-left: 30px;
}

#category-listing a:hover {
    color: #FF7575;
}

div {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

#articles-listing {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.articles {
    width: 390px;
    height: 439px;
    background-color: white;
    border: solid white;
    border-radius: 22px;
    text-align: left;
    padding: 26px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin: 19px;

    p {
        padding-bottom: 10px;
    }
}

.fixed-bottom {
    position: absolute;
    bottom: 26px;
    left: 26px;
    right: 26px;
    margin: 0;
}

#pagination {
    font-family: "Recursive", sans-serif;
    font-style: italic;
    text-align: center;
    margin: 50px 0;
}

#pagination a {
    color: #4D4D4D;
    text-decoration: none;
    padding: 15px;
}

#pagination a:hover {
    color: #FF7575;
}

#highlight {
    color: #FF7575;
    border-top: #FF7575;
}

footer {
    color: white;
    text-align: center;
    font-family: "poppins", sans-serif;
    vertical-align: bottom;

    div,
    p,
    a {
        display: inline-block;
        vertical-align: middle;
    }

}