html {
    background-color: #232830;
    max-width: 1682px;
}

.link-header {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

#link-name {
    text-align: left;
    text-decoration: none;
    color: white;
}

#menu {
    overflow: hidden;
    font-size: 15px;
    font-family: "poppins", sans-serif;
}

#menu a {
    float: left;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
}

#header-right {
    float: right;
}

#logo {
    text-align: center;

    img {
        max-width: 150px;
        display: block;
        margin: auto;
    }

    h1 {
        color: #FF7575;
        font-family: "Recursive", sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 40px;
    }

    p {
        color: white;
        font-family: "poppins", sans-serif;
        font-size: 18px;
    }
}

hr {
    border: solid #4D4D4D 1px;
    width: auto;
}

footer {
    color: white;
    text-align: center;
    font-family: "poppins", sans-serif;
}